[	

	{pphpp_rpc,[
		{servers,[{
			example_rpc,[
				{port,5555},
				{max_connections,100},{packet,raw}
			],[example_php_service]
		}]},
    	{pools,[
    		{example_php_service,[
                {size, 50},
                {max_overflow, 3}
			],[
    			%required
				{php_exec,"/usr/bin/php"},
				{php_script,"/home/carlos/src/pphpp-rpc/php/test.php"},
				%optional
				%{php_args,["arg1","arg2",...]}
				%{php_env ,[{"NAME","value"},...]},
				%{php_working_dir,"/home/dude"}
				{php_max_calls,200},
				{php_call_timeout,1000}
    		]} %,
    		%{another_pool,[{php_exec,"/usr/bin/php"},...]}
    	]} 
    ]}
].
