[	
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, all},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485761},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},

	{pphpp_rpc,[
		{servers,[{
			example_rpc,[
				{port,5555},
				{max_connections,100},{packet,raw}
			],[example_php_service]
		}]},
    	{pools,[
    		{example_php_service,[
                {size, 5},
                {max_overflow, 3}
			],[
    			%required
				{php_exec,"/usr/bin/php"},
				{php_script,"/Users/cory/Documents/src/pphpp-rpc/php/new-test.php"},
				%optional
				%{php_args,["arg1","arg2",...]}
				%{php_env ,[{"NAME","value"},...]},
				%{php_working_dir,"/home/dude"}
				{php_max_calls,200},
				{php_call_timeout,1000}
    		]} %,
    		%{another_pool,[{php_exec,"/usr/bin/php"},...]}
    	]} 
    ]}
].
