{sys, [
       {lib_dirs, ["../deps","../lib"]},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "pphpp_rpc", git,
        [
         kernel,
         stdlib,
         sasl,
         pphpp_rpc,
         ranch,
         poolboy
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "pphpp_rpc"},
       {profile, embedded},
       {incl_cond, derived},
       {mod_cond, derived},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/.*", "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},
       {app, sasl,   [{mod_cond, app},{incl_cond, include}]},
       {app, stdlib, [{mod_cond, app},{incl_cond, include}]},
       {app, kernel, [{mod_cond, app},{incl_cond, include}]},
       {app, pphpp_rpc, [{mod_cond, app},{incl_cond, include}]},
       {app, ranch,  [{mod_cond, app},{incl_cond, include}]},
       {app, poolboy,  [{mod_cond, app},{incl_cond, include}]}

      ]}.

{target_dir, "pphpp-rpc"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "files/pphpp-rpc", "bin/pphpp-rpc"},
           {copy, "files/pphpp-rpc.cmd", "bin/pphpp-rpc.cmd"},
           {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
           {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
           {copy, "../config/test.config", "releases/\{\{rel_vsn\}\}/sys.config"},
           {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"}
          ]}.
